<div id='p-container'>
    <h1>{{title}}</h1>
    <div id='body'>{{body}}</div>
    <br>
    <div id='author'>Author: {{author}}</div>
    <br>
    <a href="/articles/:title/edit?_method=PUT">EDIT ARTICLE</a>
    <br>{{>footer}}
</div>