<div id='p-container'>
    <h1>{{name}}</h1>
    <div id='price'><img src="http://bestanimations.com/Money/Dollars/dollar-sign-symbol-14.gif?">{{price}}</div>
    <div id='inventory'><img src="https://covdblog.files.wordpress.com/2015/04/custom_clipboard_check_em_15372.gif?">{{Inventory}}</div>
    <br>{{>footer}}
</div>