<h1>Create New Article</h1>
<form action="/articles/new" method='post'>
    <label>Title:
        <input type="string" name='title' id=''>
    </label>
    <label>Body:
        <input type="string" name='body' id=''>
    </label>
    <label>Author:
        <input type="string" name='author' id=''>
    </label>
    <label>
        <input type="submit" name='submit' id=''>
    </label>
</form>
<br>{{>footer}}