<h1>ARTICLES & PRODUCTS</h1>
<div id='container'>
    <div id="prodDiv">
        <a href="/products" id="prodLink">PRODUCTS</a>
    </div>
    <div id="articleDiv">
        <a href="/articles" id="articlesLink">ARTICLES</a>
    </div>
    <div id="newDiv">
        <a href="/newproduct" id="newProd">CREATE NEW PRODUCT</a>
    </div>
    <div id="newDiv">
        <a href="/newarticle" id="newarticle">CREATE NEW ARTICLE</a>
    </div>
</div>